.topContainer{
    display: flex;
    justify-content: center;
    gap : 20px
}
.page_image_cp{
    /* border: 1px solid green; */
    margin-top: 50px;
}
.head_page_header{
    /* border: 1px solid yellow; */
    margin-top: 50px;
    justify-content: center;
}
.hud_lp{
    font-size: 38px;
    font-weight: 650;
}
.addHead_cp{
    color: #0084CE;
}
.id_container{
    /* border: 1px solid yellowgreen; */
    display: flex;
    justify-content: center;
}
.inf_container{
    display: flex;
    border: 1px solid ;
    width: 806px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid  #0084CE;
    border-radius: 30px;
    background-color: white;
}
.mag_LP{
    margin-top: 15px;
    margin-left: 15px;
}
.loc_LP{
    margin-top: 15px;
}
.sBt_lp{
    width: 110px;
    height: 50px;
    color: white;
    background-color: #0084CE;
    border-radius: 30px;
    border: none;
}
.sbTT{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.input,
input::placeholder {
    font: 20px sans-serif;
    border-top: 15px;
}
.inpBox_lp{
    margin-top: 3px;
}
.s_id_container{
    justify-content: center;
    display: flex;
}

.searchAsuggest{
    font-size: larger;
    width: 1000px;
    margin-top: 25px;

}
.sjd_lp{
    font-size: 20px;
    font-weight: 700;
}
.sugg_id_container_2{
    display: flex;
    justify-content: center;
}
.optBT{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-top: 20px;
}
.lpxBtn{
    border:1px solid #0084CE;
    border-radius: 20px;
    background-color: transparent;
    padding: 4px;
}
.rolesProv{
    font-size: smaller;
    font-weight: 700;
    padding: 2px 4px 2px 4px; 
}
.suggest_id_container{
    display: flex;
    justify-content: center;
}
.wi_container{
    width: 1000px;
    margin-top: 25px;
    
}
.companyTiles{
    padding: 8px 30px 8px 30px;
    align-items: center;
    background-color: white;
    border: 1px solid #3333334D;
    box-shadow: 0px 0px 3px #3333334D;
    border-radius: 4px;   
}   
.gud_wil{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
.conTent{
    font-size: x-small;             
    color: #4D4D4D;
}
.lanP_button{
    margin-top: 10px;
    margin-left: 5px;
}
.detailsLanPage{
    color: white;
    background-color: #0084CE;
    border-radius: 25px;
    border: 1px solid #0084CE;
    font-size: 12px;
    padding: 3px 13px 4px 13px;
}
.companiesAddHead{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.tch{
    width: 1000px;
    font-size: 20px;
    font-weight: 700; 
}
.tilePanel{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
}
.cen_Hiring{
    /* border: 1px solid yellow; */
    width: 1000px;
    display: flex;
    gap: 10px;
}
.ringMas{
    display: flex;
}
.tileLP{
    /* border: 1px solid saddlebrown; */
    background-color: white;
    border: 1px solid #3333334D;
    box-shadow: 0px 0px 3px #3333334D;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
}
.cName_lp{
    font-weight: 700;
}
.hiringCompanies_tiles{
    display: flex;
    gap: 5px;
    margin-top: 10px;

}
.smallTile{
    background-color: white;
    border: 1px solid #3333334D;
    box-shadow: 0px 0px 3px #3333334D;
    border-radius: 4px;
}
.cHiring_num{
    font-size: small;
}