.progression_list_bd{
    display: flex;
    border: 2px solid rebeccapurple;
    align-items: center;
    height: 100px;
    width: 80%;
    margin-left: 11%;
    margin-top: 65px;
    background-color: white;
       
}
.firstRound{
  border-radius: 50%;
  height: 20px;
  border: 2px solid black;
  width: 20px;
  
}
.firstBar{
    border: 2px solid grey;
    width: 250px;
    
}
.bggreen{
    background-color: green;
}
.wholeBar{
    display: flex;
    align-items: center;
    margin-left: 55px;
    
}

